body {
    background-image: url(https://wallpaperplay.com/walls/full/4/2/3/121421.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-weight: bold;
    margin-left: 20px;
    border: solid black 2px;
}

h1 {
    border: solid 2px black;
    align-content: center;
    vertical-align: center;
    line-height: 185px;
    color: white;
}

.container {
    color: black;
    font-size: 200%
}

textarea {
    font-size: 100%;
}